<!DOCTYPE html>
<html lang="en">
  <head>

	<!-- Basic Page Needs
		 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>smth smth uhaul</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
		 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
		 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
	<!-- CSS
		 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="static/css/normalize.css">
	<link rel="stylesheet" href="static/css/skeleton.css">
	<!-- bonus by kiran -->
	<link rel="stylesheet" href="static/css/style.css">
	<!-- Favicon
		 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" ><!--  href="images/favicon.png" -->

  </head>
  <body>
	<div class="container">
      <div class="row">
		<div class="one-half column top-space" >
          <h4 class="script">for christine-</h4>
		  <p>click below for a little care package to hopefully cheer u up inbetween ur work &lt;3 </p>
		  <button class="button-primary" style="background-color:#888; border-color:#888;">click me!</button>
		  <p>i love you so so much. -kiran</p>
		</div>
      </div>
	</div>

	<!-- End Document
		 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
